body{
    background-color: rgb(9,8,19);
}

html{
    font-size: 62.5%;
    size: 62.5%;
}

.cont01{
    display: flex;
    justify-content: space-between;
}
.sarthak{
    width: 100%;
    height: 425px;
    /* border: 2px solid black; */
    margin: 40px;
     background-color: antiquewhite;
     border-radius: 10px;
}
.img{
  
  margin: 2px;
  
 
}
input{
    font-size: 30px;
    
}

.img3{
    margin: 29px;
    object-fit: cover;
}
.kok{
    object-fit: cover;
    object-position: 80% 40%;
  
    border-radius: 10px;
}
.gojo{
    margin-left: 165px;
}
.sarthak button:hover{
    background-color: rgb(248, 229, 201);
    color: black;
    box-shadow: 0 3px 3px 0 rgb(75, 73, 73),0 10px 10px 0 rgb(123, 120, 120);
    cursor: pointer;
    box-shadow: 2px;
}
.gojo{
    background: transparent;
    color: rgb(13, 11, 29);
    font-size: 18px;
    font-weight: 500;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 5px;
}
.bg{
    background: url(./imag/bg01.jpg);
    height: 400px;
    opacity: 0.6;
    align-items: center;
    margin-left: 200px;
    width: 75%;
}
.bg h1{
    color: white;
    padding: 195px 478px;
    font-size: 50px;
    
}
.heading{
    margin-top: 50px;
    margin-left: 550px;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: white;
}
img:hover{
    /* padding: 5px; */
    box-shadow: 0 6px 8px 0 rgba(38, 13, 230, 0.2), 0 10px 20px 0 rgba(40, 40, 205, 0.19); 
}
footer{
    background-color:  rgb(13, 12, 27);
    padding: 0px;
    margin: 0px;
}
.footercontainer{
    width: 100%;
    padding: 50px 10px 50px;
}
.socialIcons{
    display: flex;
    justify-content: center;
    
}
.socialIcons a {
    text-decoration: none;
    margin: 16px 9px;
    background-color: white;
    padding: 14px;
    color: rgb(9,18,9);
    border-radius: 50%;
}
.socialIcons a{
    font-size: 2.5rem;
    opacity: 0.9;
}
.socialIcons a:hover{
   
    background-color: rgb(9,18,9);
    color: white;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: wheat;
}
.footernav{
    margin-left: 25px;
    list-style: none;

}
.footernav ul{
    display: block;
    margin-top: 6px;
}
.footernav ul li a{
    font-size: 2.2rem;
    color: white;
    opacity: 1;
    text-decoration: none;
    margin: 20px 20px;
    padding: 2px;

}
.footernav ul li a:hover{
    color: beige;
    box-shadow: 0 6px 8px 0 rgba(38, 13, 230, 0.2), 0 10px 20px 0 rgba(40, 40, 205, 0.19); 
}
.footerbottom{
text-align: center;
background-color: rgb(9,8,19);
color: whitesmoke;
font-size: 1.3rem;
margin-top: 10px;
}
.footerbottom p{
    margin-top: 50px;
    margin-bottom: 0px;
}
.search{
    width: 460px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 581px;
    margin-top: 23px;
    position: relative;
}
.search input{
    width: 50rem;
    height: 3.5rem;
    font-size: 2rem;
    padding-left: 10rem;
    color: white;
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    border: 2px solid white ;
    border-radius: 10px;
}
form{
    width: 500px;
    height: 25px;
    background: transparent;
    display: flex;
}

form button{
margin-left: 5px;
background: transparent;
padding: 1rem 1rem;
color: white;
border: none;
outline: none;
letter-spacing: 0.1rem;
font-weight: bold;
font-size: 1.5rem;
height: 3.8rem;
border: .2rem solid white;
border-radius: 1rem;
cursor: pointer;
}

.search button:hover{
    background: rgb(19, 19, 27);
    box-shadow:  2px 2px 2px 0 rgba(196, 189, 253, 0.3), 0 3px 3px 0 rgba(235, 235, 246, 0.29);
}
.divlinks{
    margin-right: 25px;
    list-style: none;

}
.divlinks ul{
    display: block;
    margin-top: 6px;
}
.divlinks ul li a{
    font-size: 2.2rem;
    color: white;
    opacity: 1;
    text-decoration: none;
    margin: 20px 20px;
    padding: 2px;

}
.divlinks ul li a:hover{
    color: beige;
    box-shadow: 0 6px 8px 0 rgba(38, 13, 230, 0.2), 0 10px 20px 0 rgba(40, 40, 205, 0.19); 
}

/* @media (max-width:1492px)
{

} */